<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ToDoList">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="angular-local-storage.js"></script>
        <script src="controller.js"></script>
    </head>
    <body ng-controller="ToDoController">
        <div class="container">
            <div class="row">
                <div class="col-md-8">                    
                    <ul>
                        <li ng-repeat="activity in todo">
                            <h2>{{ activity.description}}</h2>
                            <!-- | esto es un filtro en angularjs-->
                            <p> {{ activity.date | date:'short'}}</p>
                        </li>
                    </ul>                                        
                </div>
                <div class="col-md-4">
                    <form ng-submit="addActivity()">
                        <div class="form-group">
                            <label class="control-label">Fecha</label>                            
                            <input type="datetime-local" ng-model="newActivity.date" class="form-control"/>                        
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descripción</label>                            
                            <textarea class="form-control" ng-model="newActivity.description"></textarea>
                        </div>                        
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Guardar Actividad"/>
                        </div>
                    </form>
                    <button ng-click="cleanActivity()" class="btn btn-primary btn-block">Limpiar</button>
                </div>
            </div>            
        </div>
    </body>
</html>
